/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
p{
	margin-bottom: 10px;
	line-height: 1.2;
}
a{
	color: #ffffff;
}
a:hover{
	color: #a7791c;
}
body {
	font-family: 'Roboto';
	font-size: 14px;
	width: 100%;
	height: 100%;
	color:#000;
}
main{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}
.wrapper {
	max-width: 960px;
	min-width: 280px;
	margin: 0 auto;
}
.button-detail{
	border: 1px solid;
    color: #a7791c;
    display: inline-block;
    font-size: 1.2em;
    padding: 17px 33px 17px 41px;
    text-decoration: none;
    text-transform: uppercase;
}
.button-detail:hover{
    color: red;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    background: #ffffff;
}

.wrapper::after {
    clear: both;
    content: "";
    display: block;
}
.logo {
    margin-left: -2px;
    margin-top: 3px;
}
.logo-link {
    float: left;
}
.wrapper.top-section-wrapper {
    padding-bottom: 3px;
}
.top-section-left {
    float: left;
    padding-top: 4px;
    width: 26%;
}

.top-section{
    position: relative;
}
.top-section::after {
    clear: both;
    content: "";
    display: block;
}

.top-section::before {
    background: rgba(0, 0, 0, 0) url("/images/sh-top.png") no-repeat scroll center center;
    bottom: -25px;
    content: "";
    display: block;
    height: 22px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.top-section-right {
    padding-top: 15px;
    float: right;
}
.top-section-col{
     float:left;   
}
.top-phone{
	float: right;
	font-size: 1.5em;
}
.slogan {
    color: #a7791c;
    font-family: "Roboto Slab";
    font-size: 2.35em;
    padding-top: 8px;
    width: 42.8%;
}
.top-section-col:last-child {
    float: right;
}
.top-section-info {
    margin-bottom: 36px;
}
#show-menu-btn{
	display: none;
}
.top-section-info::after {
    clear: both;
    content: "";
    display: block;
}
.top-phone-number {
    line-height: 1.3em;
}
.top-section-col.feed-link {
    width: 29.8%;
}
.feed-back-link{
	border-bottom: 1px dashed;
    color: #a22222;
    display: inline-block;
    font-size: 1.2em;
    padding-top: 23px;
    text-decoration: none;
}
/*start component top menu*/
.top-menu li {
    display: inline-block;
    margin-right: 46px;
}
.top-menu li:last-child{
	margin-right:0px;
}
.top-menu li a::after {
    background: url("/images/menu-separator.png");
    content: "";
    display: block;
    height: 9px;
    position: absolute;
    right: -30px;
    top: 7px;
    width: 9px;
}
.top-menu li:last-child a::after {
    display: none;
}
.top-menu li a {
    color: #000000;
    font-size: 1.28em;
    position: relative;
    text-decoration: none;
    position: relative;
}
.top-menu li a:hover, .top-menu li a.selected{
	color: #a7791c;
}
@media (max-width: 918px){
	.top-menu li a {
	    display: inline-block;
	    font-size: 1em;
	    padding-bottom: 10px;
	    padding-top: 10px;
	    width: 100%;
	}
	.top-menu li a::after {
  	    top: 5px;
	}

}
@media (max-width: 776px){
	.top-menu li {
    	display: inline-block;
    	text-align: center;
   		width: 100%;
   		margin: 0px;
   		border-bottom: 1px solid;
	}
	.top-menu li a::after{
		display: none;
	}
	.top-menu li a:hover, .tom-menu li a.selected{
		background: a7791c;
		color: #fff;
	}
	.top-menu {
	    background: #eee none repeat scroll 0 0;
	    display: none;
	    left: 0;
	    margin-left: 15%;
	    margin-right: 15%;
	    position: absolute;
	    top: 53px;
	    width: 70%;
	}

}
/*end component top menu*/

/*start component main slider*/
.main-slider{
	height: 500px;
	background-color: #ccc;
	position: relative;
}
.main-slider .see-detail {
  	border: 1px solid;
    bottom: 29px;
    color: #a7791c;
    display: inline-block;
    font-size: 1.2em;
    padding: 17px 33px 17px 41px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
}
.main-slider .see-detail:hover{
    color: red;
}
.slide-head{
	padding-left: 28px;
    color: #fff;
    display: block;
    font-size: 2.33em;
    line-height: 1.3em;
    padding-bottom: 35px;
    padding-top: 30px;
    position: absolute;
    top: 35px;
    max-width: 750px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a22222+0,b62323+23,bb2424+50,ba2323+78,ba2323+100,a22222+100 */
	background: #a22222; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #a22222 0%, #b62323 23%, #bb2424 50%, #ba2323 78%, #ba2323 100%, #a22222 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #a22222 0%,#b62323 23%,#bb2424 50%,#ba2323 78%,#ba2323 100%,#a22222 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #a22222 0%,#b62323 23%,#bb2424 50%,#ba2323 78%,#ba2323 100%,#a22222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a22222', endColorstr='#a22222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.slide-head::after {
	border-left: 51px solid transparent;
    border-right: 27px solid transparent;
    border-top: 48px solid #780000;
    bottom: -47px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}
.slide-description > ul {
    list-style-image: url("/images/list-ico.png");
}
.slide-description li {
    margin-bottom: 20px;
}
.slide-description {
   	font-family: Roboto;
    font-size: 1.35em;
    font-weight: 400;
    position: absolute;
    top: 212px;
}
@media (max-width: 776px){
	.slide-head{
		font-size: 1.3em;
		padding-right: 20px;
	}
	.slide-description{
		font-size: 1em;
	}
	.main-slider .see-detail{
		font-size: 0.8em;
		bottom: 19px;
		padding: 12px 28px 12px 36px;
	}
	.swiper-button-next, .swiper-button-prev{
		width: 38px!important;
		height: 38px!important;
		background-size: cover;
		top:87.4%!important;
	}
	.swiper-pagination{
		bottom: 17px;
	}
}
	@media (max-width: 400px){
		.swiper-pagination{
			display: none;
		}
		.swiper-button-next, .swiper-button-prev{
			display: none!important;
		}
}
/*end component main slider*/

.component-section-head h2{
	font-size: 2.8em;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 45px;
} 
.component-section-head .component-section-description {
    font-size: 1.5em;
    margin-bottom: 59px;
    text-align: center;
}
/*start component service list on main page*/
.main-service-list-wrapper .service-list-head{
	
}
.main-service-list-wrapper .service-list-head h2{
    color: #fff;
    font-weight: 300;
    padding-bottom: 0px;
}
.main-service-list-wrapper {
    background-image: url("/images/service-bg.jpg");
    background-size: cover;
}
.main-service-list-wrapper .service-list{
	text-align: center;
	padding-bottom: 32px;
}
.main-service-list-wrapper .service-list-item {
	display: inline-block;
    margin-top: 45px;
    text-align: center;
    width: 236px;
}
.main-service-list-wrapper .service-name{
	color: #fff;
    display: inline-block;
    font-size: 1.35em;
    margin-top: 11px;
    width: 160px;
}

/*end compnent service list on main page*/

/*start component news list on main page*/
.main-news-list-wrapper{
	background-color: #f0f4f8;
}
.main-news-list-wrapper .news-date {
    color: #b5b5b5;
    font-size: 1.28em;
    margin-bottom: 17px;
}
.main-news-list-wrapper .news-name {
    color: #000;
    display: inline-block;
    font-size: 1.28em;
    margin-bottom: 16px;
    padding-left: 10px;
    text-decoration: none;
    position: relative;
}

.main-news-list-wrapper .news-name::after {
    background: #af2323 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 2px;
}
.main-news-list-wrapper .news-preview-text{
	font-size: 1.14em;
	color: #000;
	font-weight: 300;
}

.main-news-list-wrapper .news-item:last-child {
    margin-right: 0;
}
.main-news-list-wrapper .news-item {
    display: inline-block;
    line-height: 1.26em;
    margin-right: 51px;
    margin-top: 10px;
    width: 284px;
}
.main-news-list-wrapper .button-detail-wrapper {
    padding-top: 90px;
    text-align: center;
    padding-bottom: 70px;
}
@media (max-width: 976px){
	.main-news-list-wrapper .news-list{
	    text-align: center;
	}	
	.main-news-list-wrapper .news-item{
	    width: 100%;
	    margin: 0px;
	}	
}
/*end component news list on main page*/

/*start component why-wee list*/
.why-wee-wrapper{
	background-image: url('/images/why-wee-bg.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;

}
.why-wee-wrapper .component-section-head > h2 {
    padding-bottom: 20px;
    padding-top: 30px;
    color: #fff;
}
.why-wee-wrapper .component-section-head .component-section-description{
	color: #fff;
	margin-bottom: 0px;
}

.why-wee-wrapper .item:nth-child(n+3){
    margin-right: 0;
}
.why-wee-wrapper .item-list{
	padding-bottom: 100px;
}
.why-wee-wrapper .item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
    padding: 0;
    text-align: center;
    width: 296px;
}
.why-wee-wrapper .component-section-description > span {
    display: inline-block;
    line-height: 1.2em;
    width: 495px;
}
.why-wee-wrapper .item-name {
    color: #fff;
    font-size: 1.57em;
    margin-bottom: 44px;
    position: relative;
}
.why-wee-wrapper .item-name::after {
    background: #a7791c none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    margin-left: 40%;
    margin-right: 40%;
    position: absolute;
    top: 43px;
    width: 20%;
}
.why-wee-wrapper .item-text {
    color: #fff;
    font-size: 1.1em;
    line-height: 1.2em;
}
.why-wee-wrapper .item-image {
    margin-bottom: 27px;
}
@media (max-width: 969px){
	.why-wee-wrapper .item  {
	    width: 100%;
	   	margin-right:0px; 
	    margin-left:0px;
	}	
}
@media (max-width: 776px){
	.why-wee-wrapper .component-section-description > span {
	    width: 100%;
	}	
}
/*end component why-wee list*/

/*start component warranty list*/
.warranty-wrapper{
	background-image: url('/images/warranty-bg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}
.warranty .component-section-head > h2 {
    padding-bottom: 20px;
    padding-top: 30px;
    color: #fff;
}
.warranty .component-section-head .component-section-description{
	color: #fff;
	margin-bottom: 0px;
}

.warranty .item:nth-child(n+3){
    margin-right: 0;
}
.warranty .item-list{
	padding-bottom: 100px;
}
.warranty .item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
    padding: 0;
    text-align: center;
    width: 296px;
}
.warranty .component-section-description > span {
    display: inline-block;
    line-height: 1.2em;
    width: 623px;
}
.warranty .item-name {
    color: #fff;
    font-size: 1.57em;
    margin-bottom: 44px;
    position: relative;
}
.warranty .item-name::after {
    background: #a7791c none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    margin-left: 40%;
    margin-right: 40%;
    position: absolute;
    top: 43px;
    width: 20%;
}
.warranty .item-text {
    color: #fff;
    font-size: 1.1em;
    line-height: 1.2em;
}
.warranty .item-image {
    margin-bottom: 27px;
}
@media (max-width: 969px){
	.warranty .item  {
	    width: 100%;
	    margin-right:0px; 
	    margin-left:0px;
	}	
}
@media (max-width: 776px){
	.warranty .component-section-description > span {
	    width: 100%;
	}	
}
/*end component warranty list*/

/*start component promo list*/
.promo-wrapper{
	background-color: #f0f4f8;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}
.promo .component-section-head > h2 {
    padding-bottom: 20px;
    padding-top: 44px;
    color: #000;
}
.promo .component-section-head .component-section-description{
	color: #000;
	margin-bottom: 0px;
}

.promo .item:nth-child(n+4){
    margin-right: 0;
    margin-left: 0;
}
.promo .item-list{
	padding-bottom: 100px;
}
.promo .item {
  	display: inline-block;
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 35px;
    padding: 0;
    text-align: center;
    width: 210px;
}
.promo .component-section-description > span {
    display: inline-block;
    line-height: 1.2em;
    width: 623px;
    color: #000;
}
.promo .item-name {
    color: #000;
    font-size: 1.57em;
    margin-bottom: 44px;
    position: relative;
}
.promo .item-text {
    color: #000;
    font-size: 1.1em;
    line-height: 1.2em;
}
.promo .item-image {
    margin-bottom: 27px;
}
@media (max-width: 969px){
	.promo .item  {
	    width: 100%;
	    margin-right:0px; 
	    margin-left:0px;
	}	
}
@media (max-width: 776px){
	.promo .component-section-description > span {
	    width: 100%;
	}	
}
/*end component promo list*/

/*start component pahter slider*/
.slick-slider{
	text-align: center;
}
.slider-mini-wrapper .component-section-head h2{
	padding-bottom: 19px;
}

.slider-mini-wrapper .component-section-head .component-section-description {
    font-size: 1.5em;
    margin-bottom: 86px;
    text-align: center;
}
.slick-next{
	right: -15px!important;
}
.slick-prev{
	left: -15px!important;
}
.slick-track {
    padding-left: 10px;
    padding-right: 10px;
}
@media (max-width: 980px){
	.slick-next{
		right: 0px!important;
	}
	.slick-prev{
		left: 0px!important;
	}
}
@media (max-width: 958px){
	.slick-next{
		right: 0px!important;
	}
	.slick-prev{
		left: 0px!important;
	}
}

/*end component pather slider*/

/*start ya-map*/
.ya-map-head-wrapper{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c2902b+0,c2902b+69,af8020+69,af8020+100 */
	background: #c2902b; /* Old browsers */
	background: -moz-linear-gradient(-72deg,  #c2902b 0%, #c2902b 57%, #af8020 57%, #af8020 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-72deg,  #c2902b 0%,#c2902b 57%,#af8020 57%,#af8020 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(162deg,  #c2902b 0%,#c2902b 57%,#af8020 57%,#af8020 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2902b', endColorstr='#af8020',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.ya-map-head-wrapper .wrapper > h3 {
    font-size: 2.85em;
    font-weight: 300;
    color: #fff;
    padding-top: 35px;
    padding-bottom: 35px;
}
.ya-map-head-wrapper .wrapper {
    text-align: center;
}
#ya-map{
	height: 500px;
}
/*end ya-map*/

/*start feed-back on main page*/
.feed-back{
	background-image: url('/images/feed-back-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	min-height: 700px;
}
.feed-back .component-section-head h2 {
	padding-bottom: 20px;
    padding-top: 50px;
    color: #fff;
}

.feed-back .component-section-description {
    padding-left: 115px;
    padding-right: 115px;
    line-height: 1.13em;
    color: #fff;
    margin-bottom: 44px;
}
.feed-back-form {
	display: table;
    margin: auto;
    text-align: center;
}

.form-row:nth-child(2):after{
	display: block;
	content: "";
	clear: both;
}
.feed-back-input{
	height: 50px;
	opacity:.7;
	margin-bottom: 14px;
	font-size: 1.2em;
	font-family: Roboto;
}
.form-row{
	display: table-row;
}
.feed-back-input::-webkit-input-placeholder {color:#000;}
.feed-back-input::-moz-placeholder          {color:#000;}/* Firefox 19+ */
.feed-back-input:-moz-placeholder           {color:#000;}/* Firefox 18- */
.feed-back-input:-ms-input-placeholder      {color:#000;}

.feed-back-input.name{
	width:500px ;
}
.feed-back-input.phone{
	width: 240px;
	float: left;
	display: block;
} 
.feed-back-input.email{
	width: 240px;
	float: right;
	display: block;
}
.feed-back-input.q-text{
	width: 500px;
	height: 185px;
}
.feed-back-form .clear-from {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #a7791c;
    color: #a7791c;
    cursor: pointer;
    float: left;
    font-size: 1.2em;
    height: 50px;
    width: 245px;
}
.feed-back-form .clear-from:hover{
	color: red;
	border-color:red;
}
.feed-back-form .send {
    background: #a7791c none repeat scroll 0 0;
    border: 1px solid #a7791c;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 1.2em;
    height: 50px;
    width: 245px;
}
.feed-back-form .send:hover{
	background-color: red;
}
@media (max-width: 960px){
	.feed-back .component-section-description {
		padding: 0px;
	}
}
@media (max-width: 534px){
	.feed-back-input{
		width: 100%;
	}
	.feed-back-input.name{
		width: 100%;
	}
	.feed-back-input.email{
		width: 100%;
		float: none;
	}
	.feed-back-input.phone{
		width: 100%;
		float: none;
	}
	.feed-back-form .send{
		width: 50%;
        font-size: 1em;
        margin-bottom: 10px;
	}
	.feed-back-form .clear-from{
		width: 50%;
	   font-size: 1em;
       margin-bottom: 10px;
    }
	.feed-back-input.q-text{
		width: 100%;
	}
}
/*end feed-back on main page*/

/*start component section head*/
.wrapper.section-head {
    text-align: center;
}
.section-head h1 {
    color: #fff;
    font-size: 2.9em;
    font-weight: 100;
    margin-top: 25px;
}
/*end component section head*/

/*start component bread crumbs*/
.bread-crumbs li{
    display: inline-block;
    position: relative;
}
.bread-crumbs li:after{
     color: #fff;
    content: ">";
    display: block;
    height: 10px;
    position: absolute;
    right: -15px;
    top: 0;
    width: 10px;
}
.bread-crumbs li:last-child:after{
    display: none;
}
.bread-crumbs {
    padding-top: 27px;
}
.bread-crumbs li a{
    font-weight: 300;
    text-decoration: none;
}
.bread-crumbs li span{
     color: #a7791c;
}
.bread-crumbs li {
    display: inline-block;
    margin-right: 15px;
}
/*end compopnent bread crumbs*/

/*start component serivce list on service page*/
.sp-service-list .cmp-head{
    text-align: center;
}
.sp-service-list .cmp-head h2 {
    display: inline-block;
    color: #fff;
    font-size: 2.2em;
    font-weight: 100;
    margin-top: 41px;
    position: relative;
}
.sp-service-list .cmp-head h2::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    left: -60px;
    position: absolute;
    top: 17px;
    width: 45px;
}
.sp-service-list .cmp-head h2::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    right: -60px;
    position: absolute;
    top: 17px;
    width: 45px;
}
.sp-service-list  .service-list{
    padding-bottom: 32px;
}
.sp-service-list .service-list-item {
    display: inline-block;
    margin-top: 45px;
    width: 236px;
    text-align: center;
}
.sp-service-list .service-name{
    color: #fff;
    display: inline-block;
    font-size: 1.35em;
    margin-top: 11px;
    width: 160px;
}

.so-service-list-wrapper {
    margin-bottom: 30px;
}
@media (max-width: 776px){
    .sp-service-list .cmp-head h2{
        font-size: 1.4em;
    }
    .sp-service-list .cmp-head h2::before {
        background: #fff none repeat scroll 0 0;
        content: "";
        display: block;
        height: 1px;
        left: -35px;
        position: absolute;
        top: 10px;
        width: 25px;
    }
    .sp-service-list .cmp-head h2::after {
        background: #fff none repeat scroll 0 0;
        content: "";
        display: block;
        height: 1px;
        right: -35px;
        position: absolute;
        top: 10px;
        width: 25px;
    }
}
/*end component service list on service page*/

/*start component news list on news page*/
.cmp-news-list .news-img{
    float: left;
}
.cmp-news-list .news-item::after {
    clear: both;
    content: "";
    display: block;
}
.cmp-news-list.wrapper {
    margin-top: 58px;
}
.cmp-news-list .news-img {
    float: left;
    margin-right: 21px;
}
.cmp-news-list .news-date {
    color: #b5b5b5;
    font-size: 1.2em;
    position: relative;
    top: -5px;
}
.cmp-news-list .news-name {
    border-left: 2px solid #af2323;
    color: #000;
    display: inline-block;
    font-size: 1.32em;
    margin-bottom: 13px;
    margin-top: 14px;
    padding-left: 10px;
    text-decoration: none;
}
.cmp-news-list .news-name:hover{
    color: #a7791c;
}
.cmp-news-list .news-item {
    margin-bottom: 50px;
}
.cmp-news-list .news-text {
    font-size: 1.14em;
    font-weight: 300;
    line-height: 1.1em;
}
@media (max-width: 776px){
    .cmp-news-list .news-img{
        float: none;
        margin: 0px;
        padding: 0px;
    }
    .cmp-news-list .news-date {
        color: #b5b5b5;
        font-size: 1.2em;
        position: relative;
        top: 0px;
    }
}
/*end component news list on news page*/

/*start component news detail*/
.news-detail .news-img {
    float: left;
    margin-right: 22px;
}
.wrapper.news-detail {
    padding-top: 57px;
}
.news-detail .news-date {
    color: #b5b5b5;
    font-size: 1.2em;
    position: relative;
}
.news-detail .news-text {
    font-size: 1.14em;
    font-weight: 300;
    line-height: 1.1em;
    margin-top: 6px;
}
.news-detail {
    float: left;
    margin-top: 54px;
    width: 69%;
}
.news-detail .buttons-wrapper{
    margin-bottom: 50px;
    margin-top: 100px;
}
.news-detail .buttons-wrapper:after{
    display: block;
    content: "";
    clear: both;
}
.news-detail .buttons-wrapper .button-detail.prev-news{
    float: left;
}
.news-detail .buttons-wrapper .button-detail.next-news{
    float: right;
}
.news-detail-wrapper:after {
    display: block;
    content: "";
    clear: both;
}
@media (max-width: 970px){
    .news-detail{
        float: none;
        width: 100%;
    }
    .buttons-wrapper{
        margin-bottom: 10px!important;
        margin-top: 10px!important;
    }
}
@media (max-width: 776px){
    .news-detail .buttons-wrapper .button-detail.prev-news{
        float: left;
        font-size: 1em;
    }
    .news-detail .buttons-wrapper .button-detail.next-news{
        float: right;
        font-size: 1em;
    }
    .news-detail .news-img{
        float: none;
        margin: 0px;
    }
}
@media (max-width: 540px){
    .news-detail .buttons-wrapper .button-detail.prev-news{
        float: none;
        font-size: 1em;
        width: 50%;
        margin-bottom:10px;
    }
    .news-detail .buttons-wrapper .button-detail.next-news{
        float: none;
        font-size: 1em;
        width: 50%;
    }
}

/*end component news detail*/

/*start component other news*/
.other-news .news-img{
    float: left;
}
.other-news .news-item::after {
    clear: both;
    content: "";
    display: block;
}
.other-news .news-img {
    float: left;
    margin-right: 27px;
}
.other-news .news-date {
    color: #b5b5b5;
    font-size: 1.2em;
    position: relative;
    top: -5px;
}
.other-news .news-name {
    border-left: 2px solid #af2323;
    color: #000;
    display: inline-block;
    float: left;
    font-size: 1.32em;
    margin-bottom: 13px;
    margin-top: 13px;
    padding-left: 5px;
    text-decoration: none;
    width: 140px;
}
.other-news .news-name:hover{
    color: #a7791c;
    position: relative;
}
.other-news .news-item {
    margin-bottom: 29px;
    position: relative;
}
.other-news .news-text {
    font-size: 1.14em;
    font-weight: 300;
    line-height: 1.1em;
}
.other-news {
    float: right;
    margin-top: 57px;
    width: 29%;
}
@media (max-width: 970px){
    .other-news{
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    } 
    .other-news .news-name{
        float: none;
        width: 100%;
        border: none;
    }
    .other-news .news-img{
        float: none;
    }
    .other-news .news-date {
        color: #b5b5b5;
        font-size: 1.2em;
        left: -10px;
        top: 0;
    }
    .other-news .news-item {
        border-bottom: 1px solid #ccc;
        margin-bottom: 29px;
        padding-bottom: 10px;
        position: relative;
    }
}
/*end component other news*/

/*start compnent reviews*/
.reviews-list .reveiws-description {
    font-size: 1.8em;
    font-weight: 100;
    margin-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-bottom: 34px;
}
.reviews-list .reviews-item:nth-child(odd){
    float: right;
}
.reviews-list .reviews-item:nth-child(even) {
    float: left;

}
.reviews-list .reviews-item{
    width: 48%;
    position: relative;
    margin-bottom: 40px;  
}
.reviews-list .item-right {
    height: 100%;
    padding: 10px 18px 20px 46px;
    position: relative;
}
.reviews-list .reviews-cell {
    height: 292px;
    position: relative;
}
/*
.reviews-list .reviews-cell::after {
    background-image: url("/images/tr-ico.png");
    bottom: 16px;
    content: "";
    height: 38px;
    left: 123px;
    position: absolute;
    width: 20px;
}
.reviews-list:after{
    display: block;
    content: "";
    clear: both;
}
.item-right.reveiws-text::before {
    background: #a7791c none repeat scroll 0 0;
    content: "";
    display: block;
    height: 70%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}
*/
.reviews-list .reviews-cell{

}
/*
.item-right.reveiws-text::after {
    background: #a7791c none repeat scroll 0 0;
    content: "";
    display: block;
    height: 17%;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 1px;
}
*/

.reviews-list .item-right.reveiws-text {
    background: rgba(0, 0, 0, 0) url("/images/border.png") no-repeat scroll left top / contain ;
    float: left;
    font-size: 1.17em;
    font-weight: 100;
    width: 58%;
}
.reviews-list .item-left {
    float: left;
    width: 28%;
}
.reviews-list .reviews-file {
    background-image: url("/images/file-ico.jpg");
    background-repeat: no-repeat;
    height: 148px;
    width: 105px;
    position: absolute;
    bottom: 0px;
}
@media (max-width: 972px){
    .reviews-list .item-right.reveiws-text{
        background: none;
    }
   .reviews-list .reviews-item:nth-child(odd), .reviews-list .reviews-item:nth-child(even){
    float: none;
   } 
    .reviews-list .reviews-cell {
        height: auto;
    }
    .reviews-list .reviews-item {
        width: 100%;
    }
    .reviews-list{
        text-align: center;
    }
    .reviews-list .reviews-file {
        background-image: url("/images/file-ico.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -80px;
        display: inline-block;
        height: 70px;
        left: 47%;
        margin-right: 10px;
        position: absolute;
        width: 70px;
    }

    .reviews-list .item-right.reveiws-text {
        float: none;
        width: auto;
    }
    .reviews-list .item-left{
        float: none;
        width: 100%;
    }
    .reviews-list .reviews-item {
        padding-bottom: 95px;
        margin-bottom: 20px;
        margin-top: 20px;
        border: 1px solid #a7791c;
    }
    .reviews-list .reveiws-description {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 1.2em;
    }
}
/*end component reviews*/
.wrapper:after{
    display: block;
    content: "";
    clear: both;
}

.wrapper.about-text .component-section-head h2 {
    padding-bottom: 38px;
}
.wrapper.about-text {
    padding-bottom: 67px;
}
.about-text p{
	font-size: 1.1em;
	margin-bottom: 30px;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {

}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
    min-height: 78px; 
	background-color:#000;
	text-align: center;
}

.footer .footer-col {
    color: #fff;
    display: inline-block;
    padding-top: 30px;
}
.footer .footer-col:first-child {
    margin-right: 0;
    float: left;
}
.footer .footer-col:last-child {
    margin-right: 0;
    float: right;
}
@media (max-width: 970px){
	.logo {
    	width: 155px;
	}
	.logo-link {
    	padding-left: 5px;
	}
	.wrapper{
	    padding-left: 5px;
	    padding-right: 5px;

	}
	.top-section-right {
	    padding-top: 15px;
	}
}
@media (max-width: 918px){
	.slogan{
		font-size: 1.8em;
		width: 36.8%;
	}
	.feed-back-link{
		font-size: 1em;
	}
}
@media (max-width: 776px){
	#show-menu-btn {
	    background-color:#a7791c;
	    background-image: url('/images/menu-ico.png');
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center center;
	    border: medium none;
	    display: inline-block;
	    cursor: pointer;
	    height: 53px;
	    width: 50px;
	    margin: 0;
	    text-transform: uppercase;
	}
	#show-menu-btn:hover{
		background-color: red;
	}
	.wrapper{
		text-align: center;
	}
	.top-section {
	    background: #fff none repeat scroll 0 0;
   	 	left: 0;
    	position: fixed;
    	text-align: center;
   	 	width: 100%;
   		z-index: 11;
   		border-bottom: 1px solid #ccc;
	}
    .top-section::before {
      display: none;
    }
	.slogan{
		display: none;
	}
	.logo{
		width: 60px;
	}

	.feed-back-link {
 		background-color:#a7791c;
	    background-image: url('/images/phone-ico.png');
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center center;
	    border: medium none;
	    display: block;
	    float: right;
	    font-size: 0;
	    height: 53px;
	    margin-left: 5px;
	    margin-right: 10px;
	    margin-top: 0;
	    padding-top: 0;
	    position: relative;
	    width: 50px;
	}
	.feed-back-link:hover{
		background-color: red;
	}
	.top-section-col.feed-link {
	    width: auto;
	}
	.top-section-info{
		padding: 0px;
	}
	.top-section-right{
		padding: 0px;
	}
	.wrapper.top-section-wrapper {
	    height: 50px;
	    padding-bottom: 3px;
	}
	.top-phone{
		font-size: 1.2em;
		padding-top: 4px;
		padding-right: 5px;
	}
	.top-section-info{
		margin: 0px;
	}
    .section-head h1{
        font-size: 1.6em;
    }
	.component-section-head h2{
		font-size: 1.5em;
	}
	.ya-map-head-wrapper .wrapper > h3{
		font-size: 1.5em;
	}
	.footer .footer-col{
		float: none;
		display: inline-block;
		width: 100%;
	}
	.footer .footer-col{
		padding-top: 10px;
	}


}

@media (max-width: 380px){
	.top-phone{
		font-size: 1em;
		margin-top: 5px;
	}
	.feed-back-link{
		left: -4px;
	}
@media (max-width: 336px){
	.top-phone{
		font-size: 0.8em;
		margin-top: 8px;
	}
}